{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">NATIONAL STRATEGY FOR THE MTS:</span>Channeling the Maritime AdvantageThe United States marine transportation system will be a safe, secure, clean, and globally integrated network that, in harmony with the environment, ensures a free-flowing, seamless, and reliable movement of people and commerce along its waterways, sea lanes, and intermodal connections.
      </h1>
      <p>The United States marine transportation system will be a safe, secure, clean, and globally integrated network that, in harmony with the environment, ensures a free-flowing, seamless, and reliable movement of people and commerce along its waterways, sea lanes, and intermodal connections.</p>
      <!--<a class="usa-button" href="javascript:void(0)">Call to action</a>-->
    </div>
  </div>
</section>
